extends layout

block content
  main
    if user.roles.includes('member')
      h1= `Hey there, ${user.firstName}`
      p No need to join. You're already in!
      p (One of us! One of us!)
    else
      h1= `Hey, ${user.firstName}. Wanna Join the Club?`
      p Become a member now! But only if you know the password...
      form(action="", method="post")
        label(for="password") Enter Secret Password
        input(type="password", name="password")
