extends layout

block content
  main
    form(action="" method="post")
      label(for="username") Username: 
      input(type="text" name="username")
      label(for="password") Password: 
      input(type="text" name="password")
      button(type="submit")